name: Tyck auto publish workflow

on:
  release:
    types: [published]

jobs:
  publish:
    name: Build & Publish
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: List files in repo
        run: |
         pwd
         ls -la
         ls -la tyck


      - name: Install build tools
        run: |
          python -m pip install --upgrade pip setuptools wheel build

      - name: Build the package
        run: |
          python -m build
        working-directory: ${{ github.workspace }}  

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
